<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/catalog/biker_paraphernalia">Байкерская атрибутика</a></li>
  <li><a href="/catalog/bags">Сумки и подсумки</a></li>
  <li><a href="/catalog/art">Картины и элементы декора</a></li>
  <li><a href="/catalog/leather_accessories">Кожанные аксессуары</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">Портфолио</a></li>
  <li><a href="/sizes">Размерный ряд</a></li>
  <li><a href="/delivery">Доставка</a></li>
  <li><a href="/aboutUs">О нас</a></li>
  <li><a href="/contacts">Контакты</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><img src="/images/logo.png">Leather  workshop</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Главная</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="/catalog" data-target="dropdown1">Каталог<i class="material-icons right">arrow_drop_down</i></a></li>
      <!-- Dropdown Trigger -->
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="/#" data-target="dropdown2">Дополнительная информация<i class="material-icons right">arrow_drop_down</i></a></li>
      <!-- Dropdown Trigger -->
      
      <!-- Admin -->
      <li><a href="/catalog/add">Добавить товар</a></li>
    </ul>
  </div>
</nav>