 <h1> Мастерская кожаных изделий в Ростове-на-Дону </h1>
<p>
    Изготовление изделий из натуральной кожи на заказ. Позвоните нам и вас обязательно порадует низкая цена и превосходное качество.
Наша мастерская была основана в 2009 году. Мы отличаемся превосходным качеством и быстрыми сроками изготовления.
Наша компания насчитывает более 10000 клиентов. При изготовлении наших изделий мы используем специализированное оборудование.
Все изделия покрыты Итальянской химией от ведущего производителя Kenda Farben.	
В нашем интернет-магазине уникальных изделий ручной работы для байкеров вы найдёте только качественные изделия
ручной работы из кожи, жилеты, кошельки, сумки, портмоне, наручи, нашивки, украшения и многое другое.
Мы гордимся тем, что для создания нашей продукции используются только проверенные материалы, а работа выполняется
профессионалами своего дела, изучавшими технологии создания кожаных и металлических изделий.
Ведь качество и функциональность – это то, что для нас по-настоящему важно при создании оригинальных вещей.

</p>
<p>Here should be images about_us_x.jpg</p>
<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal2">admin</a>
<!-- Modal Structure -->
  <form action="/superUser" method="POST" >
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <div id="modal2" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="row">
                <h4>Для входа в режим администрирования введите пароль:</h4>
            </div>
        <div class="row">
            <div class="input-field col s3">
                <input id="pswd" name="pswd" type="text" class="validate">
                <label for="name">Пароль</label>
            </div>
        </div>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn-flat" type="submit">Войти</button>
        </div>
    </div>
  </form> 