    <div class="row">
        <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
            <a href="/catalog/biker_paraphernalia"><img src="https://moto-vest.ru/wp-content/uploads/2017/12/a5f43e_ca8d41a2359c4a928391c952e00e9fff1.jpg"></a>
            </div>
            <div class="card-action">
            <a href="/catalog/biker_paraphernalia">Байкерская атрибутика</a>
            </div>
        </div>
        </div>
        <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
            <a href="/catalog/leather_accessories"><img src="https://moto-vest.ru/wp-content/uploads/2017/12/a5f43e_836b5f7a7fe74ecca946a3d9d0dc4179-600x600.jpg"></a>
            </div>
            <div class="card-action">
            <a href="/catalog/leather_accessories">Кожанные аксессуары</a>
            </div>
        </div>
        </div>
        <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
            <a href="/catalog/bags"><img src="https://moto-vest.ru/wp-content/uploads/2017/12/a5f43e_adefd800a168404dabefc8fc0244dbc1-600x600.jpg"></a>
            </div>
            <div class="card-action">
            <a href="/catalog/bags">Сумки и подсумки</a>
            </div>
        </div>
        </div>
        <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
            <a href="/catalog/art"><img src="https://moto-vest.ru/wp-content/uploads/2017/12/a5f43e_1d4bd51e7e0e435c845f0af049079ff8-600x600.jpg"></a>
            </div>
            <div class="card-action">
            <a href="/catalog/art">Картины и элементы декора</a>
            </div>
        </div>
        </div>
    </div>