<h1>Доставка в любую точку России и Европы</h1>
<h2>Отправка товара производится после его полной предоплаты на карту. Отплата доставки товара производится за счет получателя. </h2>
<p>Мы предлагаем различные варианты доставки: от более дешевых и медленных до более быстрых и надежных, но требующих больших затрат.
Просим Вас выбирать форму доставки, соответствующую Вашим потребностям и ожиданиям. На данный момент доступно несколько способов доставки заказов. 
Обращаем ваше внимание, что обработка заказа в среднем может занять от 1 до 2 дней, и до 4-5 дней (включая выходные,
предпраздничные дни, когда увеличивается число заказов).</p>
<h2>Почта России</h2>
<p>Если вы заказали доставку обычной почтой, вам на почтовый ящик по адресу доставки придет уведомление о факте поступления на ваше ФИО почтового отправления. Имея это уведомление/извещение нужно будет посетить Ваше отделение связи и получить заказанный Вами товар (при себе необходимо иметь паспорт в обязательном порядке).
Настоятельно рекомендуем отслеживать срок прибытия заказа, так как почтовое отделение может не сообщить Вам от его поступлении и по истечении 30 дней оно будет возвращено отправителю. 
Срок доставки заказа определяется “Почтой России” и зависит от удаленности региона назначения. К сожалению, в нерабочие дни, а также, в некоторых случаях, в связи с загруженностью почтового отделения, (в особенности в канун крупных праздников) возможны дополнительные задержки на срок до 10 рабочих дней. Пожалуйста, учитывайте это.
Если сроки доставки имеют решающее значение, мы рекомендуем воспользоваться услугами EMS.
После отправки Вашему отправлению будет присвоен уникальный номер, с помощью которого Вы сможете отслеживать свой заказ http://почта-россии.рф. </p>
<h2>EMS Почта России</h2>
Пересылка экспресс-отправлений осуществляется по принципу “от двери до двери”.  Отправления перевозятся до пункта назначения, где вручаются  адресату. Отправления ЕМS доходят до большинства городов России менее, чем за 10 рабочих дней, что делает эту форму доставки наиболее надежной, быстрой и удобной. После отправки Вашему отправлению будет присвоен уникальный номер, с помощью которого Вы сможете отслеживать свой заказ www.emspost.ru.
<h2>Транспортно-экспедиционные компании</h2>
<p>Быстро и просто, единственный минус – офисы компаний есть не во всех городах. Отплата доставки товара производится за счет получателя. Отправка товара производится после его полной предоплаты.Без дополнительных оплат – ТК Энергия: nrg-tk.ru 
За дополнительную плату: 
<a href="http://www.dellin.ru/ " target="_blank">Деловые линии</a> 
<a href="https://tk-kit.ru/" target="_blank">ТК КиТ</a> 
<a href="https://www.baikalsr.ru/" target="_blank">Байкал Сервис</a>
<a href="http://www.pecom.ru" target="_blank">Первая Экспедиционная Компания</a>

И иные компании, при наличии филиала в г. Ростов-на-Дону.
Если у Вас возникли вопросы о доставке (сроки, стоимость) Вы можете задать ваш вопрос воспользовавшись формой обратной связи,
 просто напишите Ваш вопрос, и в течении 24-48 часов мы Вам ответим. </p>