<h1> Как правильно снять размеры для жилета </h1>
<p> КРАСНЫЕ ЛИНИИ ПРАВИЛЬНЫЕ, А СИНИЕ НЕТ!		
<h2>1.Ширина спины. </h2>
Если самостоятельно измерить результат будет неточным для этого надо попросить помощника.
Надо стать прямо держать плечи естественно не расправляя сильно и не сгибая, помощник с помощью
сантиметра измеряет ширину спины от подмышек (как на рисунке) и от получившегося результата отнимаем 4 см. 
Итого например размер Вашего жилета по спине 40 см.		<h2>HERE SHOULD BE IMG SIZES.JPG</h2> 
<h2> 2. Высота по спине. </h2>
Измерение от шейного позвонка (ну тот который выпирает) до поясницы как на рисунке (требуется+помощник).		
<h2>3. Объем талии.</h2>
Стать прямо не втягивать и не выпячивать живот помощник измеряет талию на уровне пупка не натягивая сантиметр.		
<h2>Соответствие размеров:</h2>
M: высота по спине 45см, ширина по спине 35см, объем талии 90см с полностью застегнутыми ремнями;
L: соответственно 47 – 37 – 95;
XL: 49 – 39 – 102;
XXL: 51 – 41 – 109;
XXXL: 53 – 43 – 118.
</p>